---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/99999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '598'
      X-Ratelimit-Reset:
      - '1535965887'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"company-profile-not-found","type":"ch:service"}]}'
  recorded_at: Mon, 03 Sep 2018 09:06:25 GMT
recorded_with: VCR 4.0.0
