---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/99999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '596'
      X-Ratelimit-Reset:
      - '1557912195'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"errors":[{"type":"ch:service","error":"company-profile-not-found"}]}'
  recorded_at: Wed, 15 May 2019 09:20:03 GMT
recorded_with: VCR 4.0.0
