---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"3da098e3-3db2-4c99-8e96-ed9d1a8ef227","personalisation":{"reg_identifier":"CBDU2","registration_type":"carrier,
        broker and dealer"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 0f5e0b56-7790-4565-5e31-51fe31ea6e77
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Your application to renew your waste carrier,
        broker and dealer registration has been received\r\n\r\nYour registration
        number is still\r\nCBDU2 \r\n\r\n#What happens next\r\n\r\nWe''ll check your
        details and let you know whether your renewal application has been successful.
        We aim to do this within 10 working days.\r\n\r\n*If you have enquiries please
        contact the Environment Agency helpline: 03708 506506\r\n*This is an automated
        email, please do not reply","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"Your
        application to renew waste carriers registration CBDU2 has been received"},"id":"1513cc3d-9776-4bf6-9e22-463e3aa0a82c","reference":null,"scheduled_for":null,"template":{"id":"3da098e3-3db2-4c99-8e96-ed9d1a8ef227","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/3da098e3-3db2-4c99-8e96-ed9d1a8ef227","version":5},"uri":"https://api.notifications.service.gov.uk/v2/notifications/1513cc3d-9776-4bf6-9e22-463e3aa0a82c"}

'
  recorded_at: Fri, 30 Apr 2021 09:50:52 GMT
recorded_with: VCR 6.0.0
