---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"25a54b31-cdb0-4139-9ffe-50add03d572e","personalisation":{"reg_identifier":"CBDU1","first_name":"Mary","last_name":"Wollstonecraft","sort_code":"60-70-80","account_number":"1001
        4411","payment_due":"110","iban":"GB23 NWBK 607080 10014411","swiftbic":"NWBK
        GB2L","currency":"Sterling"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Mary Wollstonecraft\r\n\r\n#You need to pay
        for your waste carriers registration and then email us to confirm payment\r\nWe
        cannot register you until your payment clears.\r\n\r\n#Pay by bank transfer
        (Bacs) with these details\r\n\r\nAccount name: Environment Agency\r\nAccount
        number: 1001 4411\r\nSort code: 60-70-80\r\nPayment reference: CBDU1\r\nPayment
        due: \u00a3110\r\n\r\n#Overseas payments\r\n\r\nIBAN: GB23 NWBK 607080 10014411\r\nSWIFTBIC:
        NWBK GB2L\r\nCurrency: Sterling\r\n\r\n#Email us your registration CBDU1 to
        confirm you\u2019ve paid\r\n\r\nEmail us at ea_fsc_ar@gov.sscl.com\r\n\r\nWhen
        you email us, include the date you paid, the amount and the payment reference
        CBDU1.\r\n\r\nAllow 5 working days for your payment to reach us.\r\n\r\nYou\u2019re
        not legally entitled to operate as a waste carrier until we have received
        your payment and confirmed your registration.\r\n\r\nIf any of your details
        change you must update your registration within 28 days.\r\n\r\nIf you have
        enquiries please contact the Environment Agency helpline 03708 506506.\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Payment
        needed for waste carrier registration CBDU1"},"id":"7daa8e96-28b1-4abc-8332-80836bb308ac","reference":null,"scheduled_for":null,"template":{"id":"25a54b31-cdb0-4139-9ffe-50add03d572e","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/25a54b31-cdb0-4139-9ffe-50add03d572e","version":3},"uri":"https://api.notifications.service.gov.uk/v2/notifications/7daa8e96-28b1-4abc-8332-80836bb308ac"}

        '
  recorded_at: Mon, 27 Oct 2025 17:09:07 GMT
recorded_with: VCR 6.2.0
