---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"543a89cd-056e-4e9b-a55b-6416980f5472","personalisation":{"reg_identifier":"CBDU5","first_name":"Jane","last_name":"Doe","total_cards":1,"ordered_on":"29
        April 2021","total_paid":"5"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 32d7eb6b-8f3c-4b7d-6c94-ca85a45f1d0e
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\n#We\u2019re printing your
        waste carriers registration cards. They should arrive within 10 working days\r\n
        \r\n#Receipt\r\n\r\nOrder: 1  registration cards\r\n\r\nOrdered on: 29 April
        2021\r\n\r\nCarrier registration number: CBDU5\r\n\r\nPaid: \u00a35 by debit
        or credit card.\r\n\r\n \r\n#If you need to contact us\r\n\r\nEnvironment
        Agency\r\n\r\nTelephone 03708 506 506, Monday to Friday (8am to 6pm)\r\n\r\nnccc-carrierbroker@environment-agency.gov.uk
        \r\n\r\n \r\nThis is an automated email, please do not reply.","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"We\u2019re
        printing your waste carriers registration cards"},"id":"c2167863-cfd7-4c8c-856f-06e3687a4353","reference":null,"scheduled_for":null,"template":{"id":"543a89cd-056e-4e9b-a55b-6416980f5472","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/543a89cd-056e-4e9b-a55b-6416980f5472","version":6},"uri":"https://api.notifications.service.gov.uk/v2/notifications/c2167863-cfd7-4c8c-856f-06e3687a4353"}

'
  recorded_at: Thu, 29 Apr 2021 15:10:33 GMT
recorded_with: VCR 6.0.0
