---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"92817aa7-6289-4837-a033-96d287644cb3","reference":"CBDU10","personalisation":{"contact_name":"Jane
        Doe","reg_identifier":"CBDU10","company_name":"Acme Waste","registered_address":"42,
        Foo Gardens, Baz City, BS1 1AA","phone_number":"03708 506506","date_registered":"17
        March 2022","address_line_1":"Jane Doe","address_line_2":"42","address_line_3":"Foo
        Gardens","address_line_4":"Baz City","address_line_5":"BS1 1AA","expiry_date":"17
        March 2023","registration_type":"carrier, broker and dealer"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - d6ced0c4-e359-4699-795b-0394edc8c714
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\nYou are now registered as an upper
        tier waste carrier, broker and dealer. \r\n\r\nYour registration number is
        CBDU10.\r\n\r\n#As an upper tier waste carrier, broker and dealer:\r\n*you
        need to renew your registration every 3 years\r\n*you\u2019ll need to pay
        a registration charge each time you renew\r\n*if we cannot reach you, you\u2019ll
        have to pay more for a new registration\r\n\r\n#There are some simple rules
        you must [...]
