---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"3da098e3-3db2-4c99-8e96-ed9d1a8ef227","personalisation":{"reg_identifier":"CBDU229","registration_type":"carrier,
        broker and dealer"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Your application to renew your waste carrier,
        broker and dealer registration has been received\r\n\r\nYour registration
        number is still\r\nCBDU229 \r\n\r\nWe are currently processing your payment.
        We''ll email you to let you know when your renewal application has been successful.\r\n\r\n*If
        you have enquiries please contact the Environment Agency helpline: 03708 506506\r\n*This
        is an automated email, please do not reply","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Your
        application to renew waste carriers registration CBDU229 has been received"},"id":"af78138f-3e90-4e7e-94d3-49f862284cb5","reference":null,"scheduled_for":null,"template":{"id":"3da098e3-3db2-4c99-8e96-ed9d1a8ef227","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/3da098e3-3db2-4c99-8e96-ed9d1a8ef227","version":7},"uri":"https://api.notifications.service.gov.uk/v2/notifications/af78138f-3e90-4e7e-94d3-49f862284cb5"}

        '
  recorded_at: Mon, 27 Oct 2025 17:11:10 GMT
recorded_with: VCR 6.2.0
