---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"6d54a9bc-9b62-4d93-a40a-d06d04ed58ca","personalisation":{"reg_identifier":"CBDU1","registration_type":"carrier,
        broker and dealer","first_name":"Jane","last_name":"Doe","phone_number":"03708
        506506","registered_address":"42\r\nFoo Gardens\r\nBaz City\r\nFA1 1KE","date_activated":"30
        April 2021","link_to_file":"My certificate"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - c93bf6ba-e766-4619-4ca2-11ac43f77bba
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Your registration as an upper tier carrier, broker
        and dealer has been renewed\r\n\r\nYour registration number is still\r\n\r\n#CBDU1\r\n\r\nDownload
        your certificate at: My certificate\r\n\r\nBeing an an upper tier waste carrier,
        broker and dealer means that:\r\n\r\n*you need to renew your registration
        every 3 years (we\u2019ll send you a reminder)\r\n*you\u2019ll need to pay
        a registration charge each time you renew\r\n\r\nThere are some simple[...]
