---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"2eae1dbd-08c1-4602-a4d2-e4481a1acc97","personalisation":{"registration_type":"carrier,
        broker and dealer","reg_identifier":"CBDU2","first_name":"Jane","last_name":"Doe","registered_address":"42,
        Foo Gardens, Baz City, BS1 5AH","date_registered":"2024-01-24T18:49:32.180+00:00","phone_number":"03708
        506506","link_to_file":"http://localhost:3000/CBDU2/certificate?token=a77e67a6-81d0-429b-b548-59cfdcc5457d"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 751244e1-98f6-4542-617a-c3da7d72836c
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"AuthError","message":"Error: Your system clock
        must be accurate to within 30 seconds"}],"status_code":403}

        '
  recorded_at: Wed, 24 Jan 2024 18:49:34 GMT
recorded_with: VCR 6.2.0
