---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"8d1fb650-93ef-4260-aa08-0b703bbe5609","personalisation":{"reg_identifier":"CBDU2","registration_type":null,"first_name":"Jane","last_name":"Doe","phone_number":"03708
        506506","registered_address":"42\r\nFoo Gardens\r\nBaz City\r\nBS1 5AH","date_registered":"
        4 May 2023","link_to_file":"Hello World","certificate_creation_date":" 4 May
        2023"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - c03572e0-74f3-4d95-6e79-edefc137ed84
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# You are now registered as a lower tier waste
        carrier, broker and dealer\r\n\r\nYour registration number is\r\n\r\n# CBDU2\r\n\r\nYour
        registration does not expire, however the link to your certificate will only
        be available for 6 months. You must download the file and keep it for reference.\r\nDownload
        your certificate at: Hello World\r\n\r\nJane\r\n\r\nBased on what you told
        us about your organisation and what it does, we have registered you as a lower
        tier waste carrier.\r\n\r\nBeing a lower tier waste carrier means that:\r\n\r\n*
        you don\u2019t need to pay a registration charge\r\n* you don\u2019t need
        to renew your registration (it just continues automatically)\r\n\r\n# Updating
        your details\r\n\r\nIf any of the details you''ve given us change, you must
        update them within 28 days by contacting the Environment Agency.\r\n\r\nJane
        Doe\r\n42\r\nFoo Gardens\r\nBaz City\r\nBS1 5AH\r\n\r\nTelephone number: 03708
        506506\r\n\r\nRegistered on:  4 May 2023\r\n\r\nThis certificate was created
        on  4 May 2023. These details are correct at the time of certificate generation.\r\n\r\nIf
        you have enquiries please email nccc-carrierbroker@environment-agency.gov.uk
        or contact the Environment Agency helpline: 03708 506506\r\n\r\nThis is an
        automated email, please do not reply","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"Waste
        Carrier Registration Complete"},"id":"718f0889-df49-4969-acda-78df540cb6b8","reference":null,"scheduled_for":null,"template":{"id":"8d1fb650-93ef-4260-aa08-0b703bbe5609","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/8d1fb650-93ef-4260-aa08-0b703bbe5609","version":1},"uri":"https://api.notifications.service.gov.uk/v2/notifications/718f0889-df49-4969-acda-78df540cb6b8"}

        '
  recorded_at: Thu, 04 May 2023 10:00:08 GMT
recorded_with: VCR 6.1.0
