---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"56997dd9-852f-4e18-b4e2-c008a9398bfe","personalisation":{"reg_identifier":"CBDU1","first_name":"Jane","last_name":"Doe","total_cards":1,"ordered_on":"29
        April 2021","payment_due":"5","sort_code":"60-70-80","account_number":"1001
        4411"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - a28400e5-7da2-4456-7b79-c23879157838
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\n#You need to pay for your
        waste carriers registration card order\r\n \r\nYou ordered 1 registration
        cards on 29 April 2021 for carrier registration number CBDU1\r\n\r\n \r\nWe
        cannot print the cards until we receive confirmation that you have paid\r\n\r\n#1.
        Pay by bank transfer (Bacs) with these details\r\n\r\nPayment due \u00a35\r\n\r\nUse
        this reference CBDU1\r\n\r\nSort code 60-70-80\r\n\r\nAccount number 1001
        4411\r\n\r\n \r\n#2. Then send us confirmation that you have paid\r\n\r\nEmail
        us ea_fsc_ar@gov.sscl.com\r\n\r\nFax 01733 464 892\r\n\r\nOr send a letter
        to:\r\n\r\nEnvironment Agency\r\nSSCL Banking Team\r\nPO Box 263\r\nPeterborough\r\nPE2
        8YD\r\n\r\n#If you need to contact us\r\n\r\nEnvironment Agency\r\n\r\nTelephone
        03708 506 506, Monday to Friday (8am to 6pm)\r\n\r\nnccc-carrierbroker@environment-agency.gov.uk\r\n\r\n
        \r\nThis is an automated email, please do not reply.","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"You
        need to pay for your waste carriers registration card order"},"id":"ce0c1d10-deaf-46f7-9175-4f5587c44b9b","reference":null,"scheduled_for":null,"template":{"id":"56997dd9-852f-4e18-b4e2-c008a9398bfe","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/56997dd9-852f-4e18-b4e2-c008a9398bfe","version":3},"uri":"https://api.notifications.service.gov.uk/v2/notifications/ce0c1d10-deaf-46f7-9175-4f5587c44b9b"}

'
  recorded_at: Thu, 29 Apr 2021 15:35:01 GMT
recorded_with: VCR 6.0.0
