---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"fe1e4746-c940-4ace-b111-8be64ee53b35","personalisation":{"reg_identifier":"CBDU2","registration_type":"carrier,
        broker and dealer","first_name":"Jane","last_name":"Doe","phone_number":"03708
        506506","registered_address":"42\r\nFoo Gardens\r\nBaz City\r\nBS1 5AH","date_registered":"
        4 May 2023","link_to_file":"Hello World","certificate_creation_date":" 4 May
        2023"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 25aa0876-7362-4ef6-7a4f-e1dd9e9e7ff9
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#You are now registered as an upper tier waste
        carrier, broker and dealer\r\n\r\nYour registration number is\r\n\r\n#CBDU2\r\n\r\n#Your
        registration lasts for 3 years, however the link to your certificate will
        only be available for 6 months. You must download the file and keep it for
        reference.\r\n\r\nDownload your certificate at: Hello World\r\n\r\nJane\r\n\r\nBased
        on what you told us about your organisation and what it does, we have registered
[...]
