---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"ce2d9d55-6e16-45fe-83e2-4513a31ea864","personalisation":{"reg_identifier":"CBDU29","registration_type":"carrier,
        broker and dealer","first_name":"Jane","last_name":"Doe","phone_number":"03708
        506506","registered_address":"42\r\nFoo Gardens\r\nBaz City\r\nBS1 5AH","date_activated":"
        4 May 2023","link_to_file":"My certificate","certificate_creation_date":"
        4 May 2023"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 7f52bb83-df24-4509-4cd0-13890988e752
    body:
      encoding: UTF-8
      string: '{"content":{"body":"# Your registration as an upper tier carrier, broker
        and dealer has been renewed\r\n\r\nYour registration number is still\r\n\r\n#
        CBDU29\r\n\r\nYour registration lasts for 3 years, however the link to your
        certificate will only be available for 6 months. You must download the file
        and keep it for reference.\r\nDownload your certificate at: My certificate\r\n\r\nBeing
        an an upper tier waste carrier, broker and dealer means that:\r\n\r\n* you
     [...]
