---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"0ad5d154-9e44-4da7-8c1b-b4b14d1057cd","reference":"CBDU12","personalisation":{"contact_name":"Jane
        Doe","reg_identifier":"CBDU12","company_name":"Acme Waste","registered_address":"42,
        Foo Gardens, Baz City, BS1 1AA","phone_number":"03708 506506","date_registered":"17
        March 2022","address_line_1":"Jane Doe","address_line_2":"42","address_line_3":"Foo
        Gardens","address_line_4":"Baz City","address_line_5":"BS1 1AA"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 85de7486-5488-4d60-785d-19ffad83c907
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\nYou are now registered as a lower
        tier waste carrier, broker and dealer.\r\n\r\nYour registration number is
        CBDU12.\r\n\r\n#As a lower tier waste carrier, broker and dealer:\r\n*you
        don\u2019t need to pay a registration charge\r\n*you don\u2019t need to renew
        your registration (it just continues automatically)\r\n\r\nYours sincerely\r\nWaste
        carrier renewal team\r\n\r\n------------\r\n\r\n\r\n#Certificate of Registration
        u[...]
