---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"b8b68a4c-adc9-4fe6-86cd-3d5a83822c47","personalisation":{"reg_identifier":"CBDU4","first_name":"Jane","last_name":"Doe","sort_code":"60-70-80","account_number":"1001
        4411","payment_due":"100","iban":"GB23 NWBK 607080 10014411","swiftbic":"NWBK
        GB2L","currency":"Sterling"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - ccd45a54-2c5b-424d-7918-c5fe418646e3
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\n#You need to pay for your
        waste carriers registration and then email us to confirm payment\r\nWe cannot
        register you until your payment clears.\r\n\r\n#Pay by bank transfer (Bacs)
        with these details\r\n\r\nSort code 60-70-80\r\nAccount number 1001 4411\r\nPayment
        reference CBDU4\r\nPayment due \u00a3100\r\n\r\n#Overseas payments\r\n\r\nIBAN:
        GB23 NWBK 607080 10014411\r\nSWIFTBIC: NWBK GB2L\r\nCurrency: Sterling\r\n\r\n#Email
        us your registration CBDU4 to confirm you\u2019ve paid\r\n\r\nEmail us at
        ea_fsc_ar@gov.sscl.com\r\n\r\nWhen you email us, include the date you paid,
        the amount and the payment reference CBDU4.\r\n\r\nAllow 5 working days for
        your payment to reach us.\r\n\r\nYou\u2019re not legally entitled to operate
        as a waste carrier until we have received your payment and confirmed your
        registration.\r\n\r\nIf any of your details change you must update your registration
        within 28 days.\r\n\r\nIf you have enquiries please contact the Environment
        Agency helpline 03708 506506.\r\n\r\nThis is an automated email, please do
        not reply.","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"Payment
        needed for waste carrier registration CBDU4"},"id":"eb9a6df2-27ae-4c16-a7f7-0f41ebc7adaa","reference":null,"scheduled_for":null,"template":{"id":"b8b68a4c-adc9-4fe6-86cd-3d5a83822c47","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/b8b68a4c-adc9-4fe6-86cd-3d5a83822c47","version":4},"uri":"https://api.notifications.service.gov.uk/v2/notifications/eb9a6df2-27ae-4c16-a7f7-0f41ebc7adaa"}

'
  recorded_at: Mon, 26 Apr 2021 09:57:42 GMT
recorded_with: VCR 6.0.0
