---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"foo@example.com","template_id":"889fa2f2-f70c-4b5a-bbc8-d94a8abd3990","personalisation":{"reg_identifier":"CBDU1","registration_type":"carrier_broker_dealer","first_name":"Jane","last_name":"Doe","phone_number":"03708
        506506","registered_address":"42, Foo Gardens, Baz City, FA1 1KE","date_registered":"2021-04-16T14:00:10.248+00:00","link_to_file":"Hello
        World"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 0f4ab4aa-d44e-49e6-65c3-ae57436b560e
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#You are now registered as a lower tier waste carrier,
        broker and dealer\r\n\r\nYour registration number is\r\n\r\nCBDU1\r\n\r\nYour
        registration does not expire, however the link to your certificate will only
        be available for 18 months. You must download the file and keep it for reference.\r\nDownload
        your certificate at: Hello World\r\n\r\nJane\r\n\r\nBased on what you told
        us about your organisation and what it does, we have registered you as a lower
        tier waste carrier.\r\n\r\nBeing a lower tier waste carrier means that:\r\n\r\n*you
        don\u2019t need to pay a registration charge\r\n*you don\u2019t need to renew
        your registration (it just continues automatically)\r\n\r\n#Updating your
        details\r\n\r\nIf any of the details you''ve given us change, you must update
        them within 28 days by contacting the Environment Agency.\r\n\r\nJane Doe\r\n\r\n42,
        Foo Gardens, Baz City, FA1 1KE\r\n\r\nTelephone number: 03708 506506\r\n\r\nRegistered
        on: 2021-04-16T14:00:10.248+00:00\r\n\r\nIf you have enquiries please email
        nccc-carrierbroker@environment-agency.gov.uk or contact the Environment Agency
        helpline: 03708 506506\r\n\r\nThis is an automated email, please do not reply","from_email":"waste.carriers.registration.service@notifications.service.gov.uk","subject":"Waste
        Carrier Registration Complete"},"id":"631c0077-293d-4dea-8fcc-e85cbdc24429","reference":null,"scheduled_for":null,"template":{"id":"889fa2f2-f70c-4b5a-bbc8-d94a8abd3990","uri":"https://api.notifications.service.gov.uk/services/25cb6b94-8ce7-485b-918a-559f3b18f69c/templates/889fa2f2-f70c-4b5a-bbc8-d94a8abd3990","version":8},"uri":"https://api.notifications.service.gov.uk/v2/notifications/631c0077-293d-4dea-8fcc-e85cbdc24429"}

'
  recorded_at: Fri, 16 Apr 2021 14:00:10 GMT
recorded_with: VCR 6.0.0
