---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"06bfc531-6a39-42ec-8466-eba1041fb61b","reference":"CBDU1","personalisation":{"contact_name":"Jane
        Doe","reg_identifier":"CBDU1","company_name":"Acme Waste","registered_address":"42,
        Foo Gardens, Baz City, BS1 5AH","phone_number":"03708 506506","date_registered":"
        4 May 2023","certificate_creation_date":" 4 May 2023","address_line_1":"Jane
        Doe","address_line_2":"42","address_line_3":"Foo Gardens","address_line_4":"Baz
        City","address_line_5":"BS1 5AH","expiry_date":" 4 May 2024","registration_type":"carrier,
        broker and dealer"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - da6fc03d-ee07-48ee-6cee-b269120a4f84
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\nYou are now registered as an upper
        tier waste carrier, broker and dealer. \r\n\r\nYour registration number is
        CBDU1.\r\n\r\n#As an upper tier waste carrier, broker and dealer:\r\n*you
        need to renew your registration every 3 years\r\n*you\u2019ll need to pay
        a registration charge each time you renew\r\n*if we cannot reach you, you\u2019ll
        have to pay more for a new registration\r\n\r\n#There are some simple rules
        you must f[...]
