---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"f703000e-1e76-4529-912d-966691578da0","reference":"CBDU4","personalisation":{"registration_type":"carrier,
        broker and dealer","contact_name":"Jane Doe","reg_identifier":"CBDU4","company_name":"Zenith
        Limited","registered_address":"42, Foo Gardens, Baz City, BS1 1AA","phone_number":"03708
        506506","date_registered":" 1 September 2022","expiry_date":" 1 September
        2023","address_line_1":"Jane Doe","address_line_2":"42","address_line_3":"Foo
        Gardens","address_line_4":"Baz City","address_line_5":"BS1 1AA"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - f41d4cf2-3e28-45ed-5683-0f9686feb951
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Jane Doe\r\n\r\nYour registration number is
        still CBDU4\r\n\r\n#As an upper tier waste carrier, broker and dealer:\r\n*you
        need to renew your registration every 3 years\r\n*you\u2019ll need to pay
        a renewal charge each time you renew\r\n*if we cannot reach you, you\u2019ll
        have to pay for a new registration\r\n\r\n#There are some simple rules you
        must follow:\r\n*if you give your waste to another person or business you
        must check they[...]
