---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/00946107
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '598'
      X-Ratelimit-Reset:
      - '1526643203'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"last_full_members_list_date":"2016-01-04","company_number":"00946107","has_been_liquidated":false,"company_name":"BIFFA
        WASTE SERVICES LIMITED","registered_office_address":{"address_line_1":"Coronation
        Road","address_line_2":"Cressex","postal_code":"HP12 3TZ","locality":"High
        Wycombe","region":"Bucks"},"jurisdiction":"england-wales","type":"ltd","undeliverable_registered_office_address":false,"sic_codes":["38110","38120","38210","38220"],"accounts":{"next_due":"2018-12-29","accounting_reference_date":{"day":"29","month":"03"},"next_accounts":{"due_on":"2018-12-29","period_start_on":"2017-03-25","overdue":false,"period_end_on":"2018-03-29"},"last_accounts":{"period_end_on":"2017-03-24","type":"full","made_up_to":"2017-03-24","period_start_on":"2016-03-26"},"next_made_up_to":"2018-03-29","overdue":false},"date_of_creation":"1969-01-16","has_insolvency_history":false,"etag":"71e17f2aaec9b698b7ff73a1cbf996dc9c88b933","has_charges":true,"company_status":"active","previous_company_names":[{"name":"BIFFA
        LIMITED","effective_from":"1969-01-16","ceased_on":"1986-04-22"}],"confirmation_statement":{"next_due":"2019-01-18","next_made_up_to":"2019-01-04","overdue":false,"last_made_up_to":"2018-01-04"},"links":{"self":"/company/00946107","filing_history":"/company/00946107/filing-history","officers":"/company/00946107/officers","charges":"/company/00946107/charges"},"registered_office_is_in_dispute":false,"can_file":true}'
  recorded_at: Fri, 18 May 2018 11:28:22 GMT
recorded_with: VCR 4.0.0
