---
http_interactions:
- request:
    method: get
    uri: https://secure-test.worldpay.com/jsp/merchant/xml/paymentService.jsp
    body:
      encoding: UTF-8
      string: foo
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE paymentService PUBLIC "-//WorldPay//DTD WorldPay PaymentService v1//EN"
                                        "http://dtd.worldpay.com/paymentService_v1.dtd">
        <paymentService version="1.4" merchantCode="MERCHANT_CODE"><reply><error code="2"><![CDATA[Premature end of file.]]></error></reply></paymentService>
  recorded_at: Mon, 10 Feb 2020 11:28:44 GMT
recorded_with: VCR 4.0.0
