---
http_interactions:
- request:
    method: get
    uri: https://secure-test.worldpay.com/jsp/merchant/xml/paymentService.jsp
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <!DOCTYPE paymentService PUBLIC "-//WorldPay/DTD WorldPay PaymentService v1/EN" "http://dtd.worldpay.com/paymentService_v1.dtd">
        <paymentService version="1.4" merchantCode="MERCHANT_CODE">
          <submit>
            <order orderCode="1537172270">
              <description>Your Waste Carrier Registration CBDU480</description>
              <amount currencyCode="GBP" value="11000" exponent="2"/>
              <orderContent>Waste Carrier Registration renewal: CBDU480 for Acme Waste</orderContent>
              <paymentMethodMask>
                <include code="VISA-SSL"/>
                <include code="MAESTRO-SSL"/>
                <include code="ECMC-SSL"/>
              </paymentMethodMask>
              <shopper>
                <shopperEmailAddress>user297@example.com</shopperEmailAddress>
              </shopper>
              <billingAddress>
                <address>
                  <firstName>Jane</firstName>
                  <lastName>Doe</lastName>
                  <address1>42 Foo Gardens</address1>
                  <address2/>
                  <postalCode>FA1 1KE</postalCode>
                  <city>Baz City</city>
                  <countryCode>GB</countryCode>
                </address>
              </billingAddress>
            </order>
          </submit>
        </paymentService>
    headers:
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
      X-Cnection:
      - close
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE paymentService PUBLIC "-//WorldPay//DTD WorldPay PaymentService v1//EN"
                                        "http://dtd.worldpay.com/paymentService_v1.dtd">
        <paymentService version="1.4" merchantCode="MERCHANT_CODE"><reply><orderStatus orderCode="1537172270"><reference id="3109999211">https://secure-test.worldpay.com/wcc/dispatcher?OrderKey=MERCHANT_CODE%5E1537172270</reference></orderStatus></reply></paymentService>
  recorded_at: Mon, 17 Sep 2018 08:17:51 GMT
recorded_with: VCR 4.0.0
